* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background: burlywood;
    
}

.header{
    position: fixed; /*maintenir le navigateur fixe même si la page défile*/
    top: 0; /*permet de définir la distance supérieur*/
    left: 0; /*permet de définir la distance du bord gauche*/
    width: 100%;
    padding: 20px 10%;
    display: flex; /*permet d'aligner en horizontale*/
    justify-content: space-between; /*permet d'avoir un espace égal entre des éléments*/
    align-items: center; /*permet d'aligner au centre*/
}

.logo{
    font-size: 25px; /*taille de la police*/
    color: #2f1b0c;
    text-decoration: none;
    font-weight: 600; /*epaisseur du text*/
    font-style: italic;
}

.navbar a{
    font-size: 18px;
    color: #2f1b0c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s; /*permet d'animer*/
}

.navbar a:hover,
.navbar a.active{
    text-decoration: underline;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;  
}


.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #2f1b0c ;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(107, 75, 34);
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    color: #2f1b0c;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position:relative; /*permet de ne pas affecter la mise en page si nous changeons qlq chose*/
    display: inline-flex;
    justify-content: center; /*pemet de créerun conteneur flexible même pour les élément intérieur*/
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid rgb(168, 132, 84);
    border-radius: 8px;
    font-size:  0.875em;
    color: #2f1b0c;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden; /*pourmasquer les éléments qui débordent */
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #2f1b0c;
}
.btn-box a:nth-child(2):hover{
    color: #2f1b0c;
}

.btn-box a:nth-child(2)::before{
    background: rgb(168, 132, 84);
}
.btn-box a::before{ /*pour inséré du contenu suppléméntaire, permet d'ajouter qql chose a un élément sans à avoir modifier */
    content: ''; /*pour utiliser le ::before et ::after*/
    position: absolute; /*permet de rendre indépendant un élément*/
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(168, 132, 84);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.emoji{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.emoji a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(168, 132, 84);
    border-radius: 8px;
    font-size: 20px;
    color: #2f1b0c;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-left: 30px;
}

.emoji a:hover{
    color:#2f1b0c;
}

.emoji a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(168, 132, 84);
    z-index: -1;
    transition: .5s;
}

.emoji a:hover::before{
    width: 100%;
}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px 5%;
  }
  
  .navbar a {
    margin-left: 0;
    margin-top: 10px;
  }
}

/*CONTACT Pris sur codePen*/

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #2f1b0c;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #2f1b0c;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.cehun{
  color: #2f1b0c;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
} 

/* {
  border-bottom: solid 2px #2f1b0c;
  margin: -0.512em auto;
  width: 80px;
} */

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #2f1b0c;
	color: #2f1b0c;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #2f1b0c;
}

:-moz-placeholder { 
	color: #2f1b0c;
	opacity: 1;
}

::-moz-placeholder {
	color: #2f1b0c;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #2f1b0c;
}


#form_button {
  background: none;
  border: solid 2px rgb(168, 132, 84);
  border-radius: 8px;
  color: #2f1b0c;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: rgb(168, 132, 84);
  color:#2f1b0c;
} 



@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}



/* A PROPOS */

.section{
  width: 100%;
  min-width: 100vh;
}

.container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.texte{
  float: left;
  width: 55%;
}

.image{
  float: right;
  width: 40%;
}
.image img{
  width: 75%;
  height: auto;
}
.texte .content h3{
  margin-top: 20px;
  color:#2f1b0c; 
  font-size: x-large;
}

.texte .content{
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.texte .content .button{
  margin-top: 30px;
}
.texte .content .button a{
  background-color: transparent;
  padding: 12px 40px;
  text-decoration: none;
  color:#2f1b0c;
  font-weight: bold;
  font-size:  0.875em;
  border: 2px solid rgb(168, 132, 84);
  text-transform: uppercase;
  border-radius: 8px;
}

.texte .content .button a:hover{
    background-color: rgb(168, 132, 84);
}

/*@media screen and (max-width: 768px) {
  .section {
    min-width: auto;
  }
  
  .container {
    width: 90%;
    padding-top: 50px;
  }
  
  .texte,
  .image {
    float: none;
    width: 100%;
  }
  
  .texte .content {
    font-size: 14px;
  }
  
  .texte .button a {
    padding: 10px 30px;
  }
} */
@media screen and (max-width: 760px){
  .container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 50px;
  }
  .texte{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    color: #2f1b0c;
  }
  .image{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image img{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;

  }

  .texte  .content h3{
    text-align: center;
    font-size: 19px;

  }  

  .texte .button{
    text-align: center;
    padding-bottom: 7%;
  }

  .texte .button a{
    padding: 9px 30px;
  }
    

} 